.aboutmain{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto;
	// margin-top: 30px;
	margin: 0 -15px;
	img{
		margin-bottom: 30px;
	}
	&_ellipse{
		margin: 30px auto;
		a{
			text-decoration: none;
		}
	}
}
.title-story{
	padding: 0 15px;
	h2{
		font-size: 30px;
		font-weight: 700;
		background: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	p{
		font-size: 19px;
		font-weight: 400;
		line-height: 30px;
		color: var(--Basic-Black, #000);
	}
}
.statistic{
	display: flex;
	padding: 0 15px;
	div{
		justify-content: flex-start;
		align-self: start;
	}
	
	article{
		display: flex;
		flex-direction: column;
		padding: 10px 0 15px 34px;
	}
	padding: 10px 0;
	p{
		color: var(--Main-Regular, #323264);
		font-size: 16px;
		font-weight: 400;
		
	}
}
.statistic::before{
	content: '';
	background-image: url(../img/linevertical.svg);
	background-repeat: no-repeat;
	width: 4px;
	height: 100%;
	margin-left: 15px;
}
.nomber{
	display: flex;
	p{
		font-size: 36px;
		font-weight: 700;
		background: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	
}



@media (min-width: 992px){
	.aboutmain{
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		gap: 30px;
		img{
			grid-column: -3/-1;
		}
	}
}