.footer{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto;
	gap: 30px;
	text-align: center;
	padding-top: 30px;
	background: var(--Grey-Bg, #F5F5FA);
	padding: 30px 0;

	&__address{
		display: flex;
		flex-direction: column;
		font-size: 16px;
		font-weight: 400;
		border-top: 2px solid #E6E6F0;
		padding-top: 30px;
		
		:nth-child(2){
			align-items: center;
			color: var(--Active-Regular, #24A3FF);
			font-size: 12px;
			font-weight: 700;
			text-transform: uppercase;
			text-decoration: none;
			
		}
		a{
			padding-bottom: 10px;
			color: var(--Main-Regular, #323264);
			text-decoration: none;
			
		}
		
		
	}
	
	&__contact{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		a{
			text-decoration: none;
			color: #24A3FF;
			font-size: 16px;
			font-weight: 700;
			padding: 10px 0;
			svg{
				width: 39px;
				height: 38px;
			}
		}
		a:nth-child(2){
			color: #46466E;
			font-size: 16px;
			font-weight: 700;
		}
		

	}
	&__story{
		color: var(--Grey-Text, #B3B3BA);
		text-align: center;
		font-size: 16px;
		font-weight: 400;
	}
}
@media (min-width: 768px){
	.footer{
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto auto;
		border-top: 2px solid #E6E6F0;
		background: var(--Grey-Bg, #F5F5FA);
		align-items: center;
		padding: 0 15px;
		padding-top: 30px;
		
		&__address{
			grid-column: 1/2;
			border-top: none;
			padding-top: 0;
			display: flex;
			align-items: center;
			flex-direction: row;
			// a{
				
				
			// }
			:nth-child(2)::before{
				content: '';
				background-image: url(../img/dotfooter.svg);
				width: 6px;
				height: 7px;
				background-position: center;
				background-repeat: no-repeat;
				padding: 0 10px;
			}
		}
		&__contact{
			grid-column: 1/3;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			align-self: start;
			// a{
			// 	padding: 0 26px;
			// }
			a:nth-child(2)::before{
				content: '';
				background-image: url(../img/dotfooter.svg);
				width: 6px;
				height: 7px;
				background-position: center;
				background-repeat: no-repeat;
				padding: 0 10px;
			}
			a:nth-child(2)::after{
				content: '';
				background-image: url(../img/dotfooter.svg);
				width: 6px;
				height: 7px;
				background-position: center;
				background-repeat: no-repeat;
				padding: 0 10px;
			}
		}
		&__story{
			grid-column: 2/3;
			grid-row: -4/-3;
			text-align: end;
		}

	}
}