.solution {
	color: var(--Basic-White, #FFF);
	text-align: center;
	font-size: 38px;
	line-height: normal;
   padding-top: 129px;
	&__scroll{
		img{
			margin-top: 110px;
			width: 42px;
			height: 42px;
		}
	}
}
@media(min-width: 768px){
	.solution__scroll{
		img{
			margin-top: 489px;
		}
	}
}